#* @vtlvariable name="action" type="com.atlassian.jira.plugins.velocity.html.BasicTemplateEscaping" *#

#enable_html_escaping()
<html>
<head>
    <title>Automatic Html Escaping Examples</title>
</head>
<body>
    <h1>Automatic Html Escaping Examples</h1>
    <p>
        This page demonstrates how automatic escaping is applied to the evaluation of method calls and references given
        that the <code>#enable_html_escaping</code> directive has been specified in the template file.
    </p>

    <div>
        <span>Inline Call:</span>
        <span>
           $action.getContent()
        </span>
    </div>

    <div>
        <span>Macro Content:</span>
        #test()
    </div>
        #macro( test )
        <span>
            $action.getContent()
        </span>
        #end

    <div>
        <span>Parsed Content:</span>
        #parse("/templates/includes/basic-fragment.vm")
    </div>

    #set($contentAsHtml = "<span style='color:red;'>This should not be escaped, therefore rendering in red colour.</span>")
    <div>
        <span>Disabling Escaping - References:</span>
        $contentAsHtml
    </div>

    <div>
        <span>Disabling Escaping - Methods Via Naming:</span>
        $action.getFragmentHtml()
    </div>

    <div>
        <span>Disabling Escaping - Methods Via Annotation:</span>
        $action.getFragment()
    </div>
</body>
</html>